@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

$primaryColor: rgb(69, 121, 1);
$secondaryColor: rgb(156, 197, 103);
$secondaryTextFamily: "Acme", sans-serif;
$transparentBcgColor: rgba(245, 248, 245, 0.822);
